---
title: Contact
---


<h2 class="text-center">Meet the team</h2>

<div class="container">

  <div class="row text-center">
    <ul>
      <div class="row text-center">

        <div class="col-xs-12 col-md-4">
          <%= image_tag "248.jpg" %>
          <li>Nasser Al-Khelaïfi</li>
        </div>

        <div class="col-xs-12 col-md-4">
          <%= image_tag "251.jpg" %>
          <li>Jean-Claude Blanc</li>
        </div>

        <div class="col-xs-12 col-md-4">
          <%= image_tag "252.jpg" %>
          <li>Laurent Blanc</li>
        </div>

      </div>

    </ul>
  </div>
</div>